{{!-- <div class="row"> --}}
  {{!-- <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">

  {{#if highestScores.length}} <!-- Check if highestScores array is not empty -->
    <div class="row mt-4 highestScores-list">
      <h3>Highest Scores</h3> <!-- Adjust the tag accordingly -->

      {{#each highestScores as |high_score|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/users/{{high_score.id}}">{{high_score.name}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{high_score.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
  {{else}}
    <!-- Display a message if there are no highest scores -->
    <p>No highest scores available.</p>
  {{/if}} --}}
  {{!-- <p>hello</p>

</div>

<script src="js/profile.js"></script> --}}


<!-- profile.handlebars -->

<h1>Welcome, {{ user.name }}!</h1>

<h2>Your High Score: {{ user.high_score }}</h2>

<h2>Top 10 High Scores:</h2>
<ul>
  {{#each highestScores}}
    <li>{{ name }} - {{ high_score }}</li>
  {{/each}}
</ul>